/* FusionLabs - juanigomez | landing page - CSS */

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

/* GLOBAL SETTINGS */

*, 
*::before,
*::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
    font-family: "Jost", sans-serif;
    background-color: var(--bgColor);
}

html{
    scroll-behavior: smooth;
}

img{
    width: 100%;
}

a{
    text-decoration: none;
}

/* Color Pallette */

:root{
    --contrastPink: #f95590;
    --primaryPurple: #941bb9;
    --invalidRed: #e14135;

    --primaryBlue: #3c8ce7;
    --gradientBlue: #3cbfe7;
    --validGreen: #00e065;

    --primaryWhite: #f6fafc;
    --gradientWhite: #ecefef;
    --bgColor: #f9fcfe;
    --navBarWhite: #fff;
    --lightGrey: #f1f6f6;

    --darkOne: #312f3a;
    --darkTwo: #1b1c1e;
    --footerDark: #111;

    --purpleGradient: linear-gradient(to bottom right, var(--contrastPink) 5%, var(--primaryBlue) 80%);
    --blueGradient: linear-gradient(to bottom right, var(--primaryBlue) 30%, var(--gradientBlue) 90%);
    --blueGradientOp: linear-gradient(to bottom right, var(--gradientBlue) 40%, var(--primaryBlue) 80%);
    --whiteGradient: radial-gradient(circle at center, var(--primaryWhite) 50%, var(--gradientWhite) 100%);

    --shadowFd: 12px 12px 10px rgba(70, 80, 80, 0.2);
    --shadowRd: 5px 5px 20px rgba(70, 80, 80, 0.3);
}

/* Section Divider */

.sec-div{
    color: var(--contrastPink);
    background-color: var(--bgColor);

    border-style: solid;
    border-color: var(--contrastPink);
    border-radius: 50px;

    height: 70px;
    max-width: 75rem;
    width: 100%;

    margin: 0 auto;
    padding: 12px 10px;
}

.cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sec-div .line{
    width: 430px;
    height: 8px;
    background: var(--contrastPink);
    margin: auto;
    border-radius: 5px;
}

.sec-div h2{
    font-size: 30px;
}

/* NAVIGATION BAR */

.navPos{
    max-width: 70rem;
    height: 2.75rem;
    width: 100%;

    margin: 1rem auto;
    z-index: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    background-color: var(--navBarWhite);
    z-index: 20;
    margin-top: -1rem;
    padding: 0.5rem;
    padding-left: 7rem;
    padding-right: 7.8rem;

    height: 4rem;
    width: 100vw;
}

.logo{
    display: flex;
    align-items: center;
    cursor: pointer;
    transform: translateX(-18px);
}

.logo a{
    display: flex;
    flex-direction: row !important;
}

.logo img{
    width: 30px;
    margin-right: 0.6rem;
    margin-top: -0.45rem;
}

.logo h3{
    color: var(--darkTwo);
    font-family: "Montserrat", sans-serif;
    font-size: 23px;
    font-weight: 500;
    line-height: 1;
}

.hamburger{
    display: none;
}

.nav-bar{
    z-index: 5;
}

.nav-bar ul{
    display: flex;
    list-style: none;
    align-items: center;
}

.nav-bar a{
    display: inline-block;
}

.nav-bar a:hover{
    color: var(--contrastPink);
    transform: scale(1.01);
    transition: 0.1s;
}

.nav-bar ul li a{
    display: block;
    color: var(--darkOne);
    font-size: 19px;
    font-weight: 600;
    margin-left: 5rem;
    transition: 0.2s;
}

.btn-nav{
    display: inline-block;
    padding: 7px 21px;

    color: var(--darkOne) !important;
    background-color: transparent;

    border-style: solid;
    border-color: var(--darkOne);
    border-width: 2px;
    border-radius: 40px;

    font-weight: 600;
    text-transform: capitalize;
    transition: 0.2s;
}

.btn-nav:hover{
    color: var(--primaryWhite) !important;
    background-color: var(--darkOne);
    
    transform: scale(1);
}


/* LANDING CONTAINER */

.container{
    background-image: var(--blueGradientOp);
    color: var(--primaryWhite);

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    position: relative;

    max-width: 75rem;
    width: 100%;
    height: 30rem;

    margin: 0 auto;
    margin-top: -10px;
    margin-bottom: 70px;

    padding: 5rem 6rem;
    border-radius: 70px 70px 250px 70px;
}

.title{
    font-size: 1.2rem;
}

.rdh1{
    display: none;
}

.text{
    font-size: 1rem;
    margin: 1.9rem 0 2.5rem;
    max-width: 600px;
    line-height: 2;
}

.btn-wp{
    display: inline-block;
    padding: 0.6rem 2.6rem;
    color: var(--primaryWhite) !important;
    background-color: var(--contrastPink);
    font-size: 20px;
    font-weight: 600 !important;
    border-radius: 40px;
    text-transform: capitalize;
    transition: 0.2s;
}

.btn-wp:hover{
    background-color: var(--primaryWhite);
    color: var(--contrastPink) !important;
}

.container .left{
    margin-top: -200px;
}

.container .icon{
    width: 500px;
    translate: 120px 0;
}

/* Typing Animation */

.wrapper{
    display: flex;
    margin-left: -5px;
  }
  .wrapper .static-txt{
    color: #fff;
    font-size: 40px;
    font-weight: 600;
  }
  .wrapper .dynamic-txts{
    margin-left: 15px;
    height: 60px;
    line-height: 60px;
    overflow: hidden;
  }
  .dynamic-txts li{
    list-style: none;
    color: var(--primaryWhite);
    font-size: 40px;
    font-weight: 600;
    position: relative;
    top: 0;
    animation: slide 9s steps(3) infinite;
  }
  @keyframes slide {
    100%{
      top: -180px;
    }
  }
  .dynamic-txts li span{
    position: relative;
  }
  .dynamic-txts li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--gradientBlue);
    border-left: 2px solid var(--primaryWhite);
    animation: typing 3s steps(10) infinite;
  }
  @keyframes typing {
    40%, 60%{
      left: calc(100% + 25px);
    }
    100%{
      left: 0;
    }
  }


/* ABOUT US */

.selector{
    max-width: 75rem;
    width: 100%;
    height: 46rem;

    margin: 0 auto;
    margin-top: 2rem;

    align-items: center;
    justify-content: center;
}

.selector img{
    width: 200px;
    margin: 2rem;
}

.selector h3{
    font-size: 30px;
    margin-left: 50px;
    margin-bottom: 10px;
    color: var(--primaryBlue);
}

.selector p{
    padding-left: 50px;
    font-size: 1.3rem;
    line-height: 1.5;
}

.top, .bottom{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    align-items: center;
    justify-content: center;

    background: var(--whiteGradient);
    border-style: solid;
    border-color: var(--primaryBlue);
    box-shadow: var(--shadowFd);

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;

    padding: 3rem 5rem;
    border-radius: 50px;

    height: 20rem;
    max-width: 75rem;
    width: 100%;
}

.top .right, .bottom .left{
    translate: 0 -80px;
}

.about-img-1, .about-img-2{
    width: 300px !important;
    translate: 100px -70px;
}


/* SERVICES and STEP BY STEP*/

.services, .step-by-step{
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 75rem;
    width: 100%;

    margin: 0 auto;
    margin-top: 1.5rem;
    margin-bottom: 70px;

    padding: auto;
    border-radius: 45px;
}

.services{
    background-image: var(--blueGradient);
    color: var(--primaryWhite);
    height: 26rem;
}

.step-by-step{
    background-image: var(--purpleGradient);
    color: var(--primaryWhite);
    height: 23rem;
}

.options, .steps{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.serv, .step{
    border-radius: 30px;
    font-size: 16px;

    width: 275px;
    padding: 30px;
    margin: 10px;

    transition: 0.35s ease-in-out;
}

.serv{
    background-color: var(--primaryWhite);
    color: var(--darkOne);
    height: 365px;
}

.serv.active{
    background-color: var(--darkOne);
    color: var(--primaryWhite);
}

.step{
    background-color: var(--darkOne);
    color: var(--primaryWhite);
    height: 320px;
}

.step.active{
    background-color: var(--primaryWhite);
    color: var(--darkOne);
}

.img-serv{
    width: 50px;
    margin-bottom: 5px;
}

.step-by-step .num{
    border-color: var(--contrastPink);
    background-image: var(--primaryWhite);
    color: var(--contrastPink);
}

.num{
    font-size: 20px;
    padding: 1px 10px;
    display: inline-block;

    border-radius: 100%;
    border-style: solid;
    margin-bottom: 10px;
}

.services h3, .step-by-step h3{
    font-size: 25px;
    margin-bottom: 10px;
}

.services h3{
    color: var(--primaryBlue);
}

.step-by-step h3{
    color: var(--primaryBlue);
}

.btn-serv{
    background-color: var(--contrastPink);
    color: var(--primaryWhite);
    border-radius: 7.5px;
    cursor: pointer;

    height: 45px;
    padding: 7.5px 30px;
    margin: 5px left;
    top: 25px;

    font-size: 16px;
    font-weight: 500;
    font-family: 'Jost', sans-serif;

    position: relative;
    transform: translateY(-100px);
    transition: 0.2s;
}

.btn-serv:hover{
    background-color: var(--primaryWhite);
    color: var(--contrastPink);
}

/* PRODUCTS */

.products{
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;

    background-image: var(--blueGradientOp);
    color: var(--primaryWhite);

    max-width: 75rem;
    width: 100%;
    height: 46rem;

    margin: 0 auto;
    margin-top: 1.5rem;
    margin-bottom: 3.5rem;

    padding: 45px 200px;
    border-radius: 80px;
    z-index: 10;
}

.products .btn-wp{
    display: inline-block;
}

.products h1{
    font-size: 42px;
    margin-bottom: 1rem;
}

.plans{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

.plans ul{
    margin-bottom: 5px;
    text-align: left !important;
}

.plans li{  
    color: var(--darkOne);
    font-size: 15px;
    display: inline-block;
    margin-bottom: 15px;
}

.plans h2{
    font-size: 28px;
    color: var(--darkOne);
}

.plans h3{
    font-size: 35px;
    color: var(--primaryBlue);
    margin-bottom: 10px;
}

.plans h4{
    font-size: 25px;
    color: var(--primaryBlue);
}

.plans h2, h3, h4{
    margin: 0 auto;
}

.standard, .avanzado, .premium{
    display: inline-block;
    background: var(--whiteGradient);
    border-radius: 50px;

    width: 240px;
    height: 480px;

    padding: 30px 25px;
    cursor: pointer;
}


/* CONTACT US */

.contact-us{
    background-color: var(--lightGrey);
    box-shadow: var(--shadowFd);
    color: var(--primaryBlue);

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    position: relative;

    max-width: 75rem;
    width: 100%;
    height: 25rem;

    margin: 15px auto;

    border-radius: 50px;
    border-style: solid;
    border-color: var(--primaryBlue);
}

.c-content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.c-content img{
    width: 320px;
    margin-top: 50px;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 30px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.inp-box{
    width: 460px;
    margin: 15px 0;
    position: relative;
}

.inp-box input{
    height: 40px;
}

.inp{
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: 2px solid var(--primaryBlue);
    border-radius: 20px;
    outline: none;
    padding-left: 12px;
    color: var(--darkOne);
    font-size: 16px;
    font-family: 'Jost', sans-serif;
}

.inp-box label{
    position: absolute;
    top: 50%;
    left: 10px;
    padding-left: 10px;
    transform: translateY(-10px);
    font-size: 13px;
    font-weight: 500;
    color: var(--primaryBlue);
    transition: 0.2s;
}

.inp-box .inp:focus ~ label,
.inp-box .inp:valid ~ label{
    top: -1px;
    left: 15px;
    background-color: var(--lightGrey);
    font-weight: 500;
    font-size: 12px;
    padding: 1px 3px;
}

.inp-box textarea{
    resize: none;
    height: 100px;
    overflow: auto;
}

.inp.invalid{
    border-color: var(--invalidRed);
}

.name-label.invalid, .email-label.invalid, .msg-label.invalid{
    color: var(--invalidRed);
}

textarea{
    padding-top: 10px;
}

.btn-bw{
    position: relative;
    top: 100px;
    background-color: var(--primaryBlue);
    color: var(--primaryWhite);
    outline: none;
    border: none;
    border-radius: 15px;
    height: 45px;
    font-size: 16px;
    padding: 3px 25px;
    cursor: pointer;
    font-weight: 500;
    font-family: 'Jost', sans-serif;
    transform: translateY(-100px);
    transition: 0.2s;
}

.btn-bw:hover{
    background-color: var(--darkOne);
    color: var(--primaryBlue);
}

.btn-val{
    display: flex;
}

.alert-msg .inv-msg, .val-msg{
    display: none;
}

.alert-msg{
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin: auto;
}

.alert-msg.invalid .val-msg{
    display: none;
}

.alert-msg.invalid .inv-msg{
    display: block;
}

.alert-msg.invalid{
    color: var(--invalidRed);
}

.alert-msg.valid .inv-msg{
    display: none;
}

.alert-msg.valid .val-msg{
    display: block;
}

.alert-msg.valid{
    color: var(--validGreen);
}

/* RECENT WORKS */

.allworks{
    margin-top: 20px;
}

.col{
    display: flex;
    align-items: center;
    justify-content: center;
}

.work{
    color: var(--primaryWhite);
    background-color: var(--darkOne);
    border-radius: 30px;

    width: 36.25rem;
    height: 345px;
    margin: 1rem;
    padding: 10px;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.det{
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: -3px;
    padding: 0 20px;
}

.btn-vw{
    padding: 5px 25px;
    font-size: 18px;
    margin: 10px 25px;

    color: var(--contrastPink);
    background-color: var(--darkOne);
    border-color: var(--contrastPink);

    border-style: solid;
    border-width: 2px;
    border-radius: 20px;

    transition: 0.2s;
}

.btn-vw:hover{
    color: var(--primaryWhite);
    background-color: var(--contrastPink);
    border-color: var(--contrastPink);
}

.allworks img{
    width: 36rem;
    margin-bottom: 2px;
    border-radius: 30px;
    border-style: solid;
    border-color: var(--darkOne);
}


/* Page Numbers - 1 */

.numbers{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    width: 200px;
    height: 60px;

    margin: 2rem auto;
}

.one-1, .one-2, .one-3{
    border-radius: 12px;
    border-style: solid;
    border-width: 3px;
    border-color: var(--darkOne);

    width: 45px;
    height: 45px;

    padding: 10px;
    text-align: center;
}

.one-1 p, .one-2 p, .one-3 p{
    font-size: 23px;
    font-style: bold;
    margin-top: -6.5px;    
}

.one-1, .one-1 p{
    border-color: var(--primaryBlue);
    color: var(--primaryBlue);
}


/* FOOTER */

footer{
    color: var(--primaryWhite);
    background-color: var(--footerDark);

    width: 100vw;
    margin-top: 4rem;
    padding: 3rem;
    padding-right: 160px;
}

.img-footer{
    width: 400px;
    margin-left: 20px;
}

.footer-selector{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-selector ul{
    list-style: none;
}

.footer-selector li a{
    font-size: 18px;
    font-weight: 200 !important;
    cursor: pointer;
    transition: 0.12s;
    color: var(--primaryWhite);
}

.footer-selector li:hover, .footer-selector li a:hover{
    color: var(--contrastPink);
}

.footer-selector h4{
    color: var(--primaryWhite);
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 15px;
}

.footer-contact{
    margin-top: -20px;
}

.socialmedia img{
    width: 30px;
    margin-top: 10px;
    cursor: pointer;
}

.partners-footer img{
    width: 20px;
    margin-right: 10px;
    cursor: pointer;
}


/* RESPONSIVE */

@media only screen and (max-width: 1320px){
    header{
        padding: 0 50px;
    }
    .img-footer{
        width: 280px;
    }
}

@media only screen and (max-width: 1100px){
    header{
        padding: 0 30px;
    }
}

@media only screen and (max-width: 1055px){

    /* Section Divider */

    .sec-div{
        width: 93vw;
        height: 55px;
        margin-top: 0px !important;
        margin-bottom: 15px;
    }

    .cont{
        justify-content: center;
    }

    .sec-div h2{
        font-size: 25px;
        margin-top: -5px;
    }

    .sec-div .line{
        display: none;
    }

    /* NAVIGATIOON BAR - RESPONSIVE */

    .hamburger{
        display: block;
        cursor: pointer;
    }
    .hamburger div{
        width: 30px;
        height: 30px;
        margin: 1px;
        position: relative;
    }
    .hamburger span{
        width: 30px;
        height: 3px;
        background: var(--darkTwo);
        border-radius: 5px;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.4s;
    }
    .hamburger .line-1{
        transform: translate(-50%, -10px);
    }
    .hamburger .line-3{
        transform: translate(-50%, 8px);
    }
    .hamburger.active .line-1{
        transform: translate(-50%, -50%) rotate(-45deg);
    }
    .hamburger.active .line-2{
        width: 0;
    }
    .hamburger.active .line-3{
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .logo{
        transform: translateX(-5px);
    }
   
    .nav-bar{
        margin-top: -1.5rem;
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        transition: 0.4s;
        overflow: hidden;
    }
    .nav-bar.active{
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: radial-gradient(circle at center, var(--primaryWhite) 0%, var(--gradientWhite) 100%);
        transform: translateY(8px);
    }
    .nav-bar ul{
        display: block;
        width: fit-content;
        margin: 35px auto 100px auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
        overflow: hidden;
    }
    .nav-bar.active ul{
        opacity: 1 !important;
    }
    .nav-bar ul li a{
        margin-bottom: 12px;
        margin-left: 0 !important;
    }

    /* LANDING CONTAINER - RESPONSIVE */

    .container{
        display: flex;
        align-items: center;
        justify-content: left;
        max-width: 93vw;
        width: 100%;
        height: 205px;
        padding: 1.6rem 30px;
        border-radius: 40px;
        margin-top: -0.5rem !important;
        margin-bottom: 30px;
    }

    .container .text{
        display: none;
    }

    .container .title{
        font-size: 15px;
        margin-bottom: 1rem;
    }

    .container .btn-wp{
        display: inline-block;
        padding: 0.6rem 1.5rem;
        color: var(--primaryWhite) !important;
        background-color: var(--contrastPink);
        font-size: 16.5px;
        font-weight: 600 !important;
        border-radius: 40px;
        text-transform: capitalize;
        transition: 0.2s;
    }

    .container .btn-wp:hover{
        background-color: var(--primaryWhite);
        color: var(--contrastPink) !important;
    }

    .container .left{
        margin-top: -0.5rem;
    }

    .container .icon, .about-img-1, .aboout-img-2{
        display: none;
    }

    /* Typing Animation - responsive */

    .rdh1{
        display: flex;
    }

    .wrapper{
        display: none;
    }

    .wrapper .static-txt{
        font-size: 32px;
        margin-left: 5px;
    }
    .wrapper .dynamic-txts{
        margin-left: 10px;
        height: 45px;
        line-height: 46.70px;
    }
    .dynamic-txts li{
        font-size: 32px;
        animation: slide 9s steps(3) infinite;
    }
    @keyframes slide {
        100%{
            top: -140px;
        }
    }
    .dynamic-txts li span::after{
        border-left: 2px solid var(--primaryWhite);
        background-color: var(--primaryBlue);
        animation: typing 3s steps(10) infinite;
    }
    @keyframes typing {
        40%, 60%{
        left: calc(100% + 10px);
        }
        100%{
        left: 0;
        }
    }

    /* ABOUT US - RESPONSIVE */

    .selector .sec-div{
        margin-top: 20px !important;
    }

    .selector{
        width: 93vw;
        height: 450px;
        margin: 0 auto;
        margin-bottom: 20px !important;
    
        align-items: center;
        justify-content: center;
    }

    .selector h3{
        font-size: 23px;
        margin-bottom: 5px;
        margin-left: 30px;
    }

    .selector img{
        display: none
    }

    .selector p{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        width: fit-content;
        margin-left: 30px;
        margin-right: 30px;
        padding: 0;
        padding-bottom: 5px !important;
    }

    .top, .bottom{
        display: flex;
        padding: 0;

        box-shadow: var(--shadowRd);
        margin: 1rem auto;

        border-style: solid;
        border-color: var(--primaryBlue);
        border-radius: 30px;
    
        height: 210px;
        width: 93vw;
    }

    .top .right, .bottom .left{
        translate: 0;
    }

    /* SERVICES and STEP BY STEP RESPONSIVE */

    .services, .step-by-step{
        width: 93vw;
        height: 1430px;
        border-radius: 40px;
        margin-bottom: 30px;
        margin-top: 15px;
    }

    .services{
        height: 1430px;
    }

    .step-by-step{
        height: 1280px;
    }

    .options, .steps{
        flex-direction: column;
    }

    .serv, .step{
        width: 80vw;
        margin: 5px;
        padding:  15x 25px;
    }

    .serv{
        height: 340px;
    }

    .step{
        height: 300px;
    }

    /* PRODUCTS - RESPONSIVE */

    .products .sec-div{
        translate: 0 70px !important;
    }

    .products{
        width: 93vw;
        height: 330px;
    
        margin: 0 auto;
        margin-top: 15px;
        margin-bottom: 2rem;
    
        padding: 2rem 1rem;
        border-radius: 40px;
        transition: 0.3s ease-in-out;
    }
    
    .products .btn-wp{
        display: inline-block;
        font-size: 16px;
        padding: 5px 10px;
        margin-bottom: 10px;
    }
    
    .products h1{
        font-size: 1.8rem;
        margin-bottom: 10px;
    }
    
    .plans{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
    }
    
    .plans li, .plans h4, .plans h3{  
        display: none;
    }
    
    .plans h2{
        font-size: 1.2rem;
        color: var(--darkOne);
    }
    
    .standard, .avanzado, .premium{
        display: flex;

        background: radial-gradient(circle at center, var(--primaryWhite) 0%, var(--gradientWhite) 100%);
        border-radius: 20px;
        transition: 0.4s;
    
        width: 80vw;
        height: 50px;
    
        padding: 0.6rem 0;
        margin-bottom: 10px;
    }

    .peek{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

        /* Products - active styles */

    .products.active{
        height: 500px;
    }

    .products.plans-page{
        height: 850px;
    }

    .standard.active, .avanzado.active, .premium.active{
        height: 220px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        flex-direction: column;
        transition: 0.3s ease-in-out;
    }

    .standard.active h3, .avanzado.active h3, .premium.active h3{
        display: flex;
        font-size: 1.2rem;
        color: var(--primaryBlue);
    }

    .standard.active h4, .avanzado.active h4, .premium.active h4{
        display: flex;
        font-size: 15px;
        color: var(--darkOne);
        margin-top: -85px;
        padding: 0 45px;
    }

    .standard.active li, .avanzado.active li, .premium.active li{
        color: var(--darkTwo);
        font-size: 12px;
        display: flex;
        line-height: 0.5;
        margin-top: 20px;
    }

    .plans .content{
       align-items: center;
    }

    .products.no li{
        text-decoration: line-through;
        text-decoration-style: double;
    }

    .standard.active .peek, .avanzado.active .peek, .premium.active .peek{
        margin-top: -25px;
     }


     /* CONTACT US - RESPONSIVE */

     .contact-us{
        width: 93vw;
        display: flex;
        border-radius: 30px;
        border-style: solid;
        border-color: var(--primaryBlue);
        box-shadow: var(--shadowRd);
        margin-bottom: 30px;
     }

     .contact-us h1{
        font-size: 28px;
     }

     .c-content{
        display: none;
     }

     .inp-box{
        width: 75vw;
     }
     
     /* RECENT WORKS - RESPONSIVE */

    .w-icon{
        display: none;
    }

    .allworks img{
        width: 340px;
        margin-top: -10px;
        margin-bottom: 7px;
        border-radius: 25px;
    }

    .col{
        flex-direction: column;
     }

    .work{
        width: 345px;
        height: 225px;
        margin: 0;
        margin-bottom: 15px;
        border-radius: 25px;
    }

    .det{
        padding: 0;
        margin: 0 10px;
    }

    .det h2{
        font-size: 18px;
    }

    .btn-vw{
        font-size: 15px;
        padding: 4px 10px;
        margin: 0 10px;
    }

    .numbers{
        display: none;
    }

     /* FOOTER - RESPONSIVE */

    .footer{
        margin-top: 30px;
    }

    .img-footer{
        display: flex;
        align-items: center;
        justify-self: center;

        width: 340px;
        margin-left: 95px;
        margin-bottom: 20px;
        margin-top: -20px;
     }

     .footer-selector{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 10px;
    }

    .pages-footer{
        margin-left: -55px;
        margin-bottom: 0;
    }
    .partners-footer{
        transform: translateX(140px) translateY(-160px);
        margin-bottom: -140px;
    }
}





