/* FusionLabs - juanigomez | landing page - CSS */

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

*, 
*::before,
*::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
    font-family: "Jost", sans-serif;
    background-color: #fefefe;
}

img{
    width: 100%;
}

a{
    text-decoration: none;
}

/* Section Divider */

.sec-div{
    color: #f95590;
    background-color: #fff;

    border-style: solid;
    border-color: #f95590;
    border-radius: 50px;

    height: 70px;
    width: 70rem;

    margin: 0 auto;
    padding: 12px 10px;
}

.cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sec-div .line{
    width: 350px;
    height: 10px;
    background: #f95590;
    margin: auto;
    border-radius: 5px;
}

.sec-div h2{
    font-size: 30px;
}

/* NAVIGATION BAR */

.navPos{
    max-width: 70rem;
    height: 2.6rem;
    width: 100%;

    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    z-index: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    background-color: #fff;
    z-index: 20;
    margin-top: -1rem;
    padding: 0.5rem;
    padding-left: 7rem;
    padding-right: 7.8rem;

    height: 4rem;
    width: 100vw;
}

.logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo a{
    display: flex;
    flex-direction: row !important;
}

.logo img{
    width: 30px;
    margin-right: 0.6rem;
    margin-top: -0.45rem;
}

.logo h3{
    color: #000;
    font-family: "Montserrat", sans-serif;
    font-size: 23px;
    font-weight: 500;
    line-height: 1;
}

.hamburger{
    display: none;
}

.nav-bar{
    z-index: 5;
}

.nav-bar ul{
    display: flex;
    list-style: none;
    align-items: center;
}

.nav-bar a{
    display: inline-block;
}

.nav-bar a:hover{
    color: #f95590;
    transform: scale(1.01);
    transition: 0.2s;
}

.nav-bar ul li a{
    display: block;
    color: #312f3a;
    font-size: 19px;
    font-weight: 600;
    margin-left: 5rem;
    transition: 0.2s;
}

.btn-nav{
    display: inline-block;
    padding: 0.6rem 1rem;
    color: #fff !important;
    background-color: #312f3a;
    font-weight: 600 !important;
    border-radius: 40px;
    text-transform: capitalize;
    transition: 0.2s;
}

.btn-nav:hover{
    color: #000 !important;
    background-color: #ccc;
    transform: scale(1) !important;
}


/* LANDING CONTAINER */

.container{
    background-image: linear-gradient(to bottom right, #3c8ce7 10%, #00cfff 80%);
    color: white;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    position: relative;

    max-width: 70rem;
    width: 100%;
    height: 25rem;

    margin: 0 auto;
    margin-top: 0.6rem;
    margin-bottom: 70px;

    padding: 3rem 5rem;
    border-radius: 70px 70px 250px 70px;
}

.title{
    font-size: 1.2rem;
}

.text{
    font-size: 1rem;
    margin: 1.9rem 0 2.5rem;
    max-width: 600px;
    line-height: 2;
}

.btn-wp{
    display: inline-block;
    padding: 0.6rem 2.6rem;
    color: #fff !important;
    background-color: #f95590;
    font-size: 20px;
    font-weight: 600 !important;
    border-radius: 40px;
    text-transform: capitalize;
    transition: 0.2s;
}

.btn-wp:hover{
    background-color: #fff;
    color: #f95590 !important;
}

.container .left{
    margin-top: -150px;
}

.container .icon{
    width: 450px;
    translate: 120px 0;
}

/* ABOUT US */

.selector{
    max-width: 70rem;
    width: 100%;
    height: 46rem;

    margin: 0 auto;
    margin-top: 2rem;

    align-items: center;
    justify-content: center;
}

.selector img{
    width: 200px;
    margin: 2rem;
}

.selector h3{
    font-size: 30px;
    margin-left: 50px;
    margin-bottom: 10px;
    color: #3c8ce7;
}

.selector p{
    padding-left: 50px;
    font-size: 1.3rem;
    line-height: 1.5;
}

.top, .bottom{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    align-items: center;
    justify-content: center;

    background: radial-gradient(circle at center, #fff 0%, #ddd 100%);
    box-shadow: 12px 12px 5px rgba(0, 0, 0, 0.3);

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;

    padding: 3rem;
    border-radius: 60px;

    height: 20rem;
    max-width: 70rem;
    width: 100%;
}

.top .right, .bottom .left{
    translate: 0 -80px;
}

.about-img-1, .about-img-2{
    width: 300px !important;
    translate: 100px -70px;
}


/* SERVICES */

.services{
    background-image: linear-gradient(to bottom right, #3c8ce7 10%, #00cfff 80%);
    color: white;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 70rem;
    height: 25rem;

    margin: 0 auto;
    margin-top: 1.5rem;
    margin-bottom: 70px;

    padding: auto;
    border-radius: 70px;
}

.options{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.serv{
    background-color: #fff;
    color: #312f3a;
    border-radius: 30px;

    height: 350px;
    width: 240px;

    padding: 30px;
    margin: 10px;

    transition: 0.35s ease-in-out;
}

.serv.active{
    background-color: #312f3a;
    color: #fff;
}

.s-num{
    font-size: 20px;
    padding: 1px 10px;
    display: inline-block;

    border-radius: 100%;
    border-style: solid;
    border-color: #f95590;
    background-image: #fff;
    color: #f95590;
    margin-bottom: 10px;
}

.services h3{
    color: #3c8ce7;
    font-size: 25px;
    margin-bottom: 10px;
}


/* PRODUCTS */

.products{
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;

    background-image: linear-gradient(to bottom right, #3c8ce7 10%, #00cfff 80%);;
    color: white;

    max-width: 70rem;
    width: 100%;
    height: 50rem;

    margin: 0 auto;
    margin-top: 1.5rem;
    margin-bottom: 3.5rem;

    padding: 3.5rem 10rem;
    border-radius: 100px;
    z-index: 10;
}

.products .btn-wp{
    display: inline-block;
}

.products h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.plans{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

.plans ul{
    margin-bottom: 5px;
    text-align: left !important;
}

.plans li{  
    color: #312f3a;
    font-size: 18px;
    display: inline-block;
    margin-bottom: 15px;
}

.plans h2{
    font-size: 2rem;
    color: #312f3a;
}

.plans h3{
    font-size: 2.5rem;
    color: #3c8ce7;
    margin-bottom: 10px;
}

.plans h4{
    font-size: 1.4rem;
    color: #3c8ce7;
}

.plans h2, h3, h4{
    margin: 0 auto;
}

.standard, .avanzado, .premium{
    display: inline-block;
    background: radial-gradient(circle at center, #fff 0%, #efefef 100%);
    border-radius: 50px;

    width: 250px;
    height: 520px;

    padding: 2rem 1.5rem;
    cursor: pointer;
}

.premium:hover{
    background-color: #000 !important;
}


/* CONTACT US */

.contact-us{
    background-color: #eee;
    box-shadow: 12px 12px 5px rgba(0, 0, 0, 0.3);
    color: #3c8ce7;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    position: relative;

    max-width: 70rem;
    width: 100%;
    height: 25rem;

    margin: 15px auto;

    border-radius: 70px;
}

.c-content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.c-content img{
    width: 320px;
    margin-top: 50px;
}

.form{
    padding: 30px 30px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.inp-box{
    width: 450px;
    margin: 15px 0;
    position: relative;
}

.inp-box input{
    height: 40px;
}

.inp{
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: 2px solid #3c8ce7;
    border-radius: 20px;
    outline: none;
    padding-left: 10px;
    color: #312f3a;
    font-size: 16px;
    font-family: 'Jost', sans-serif;
}

.inp-box label{
    position: absolute;
    top: 50%;
    left: 10px;
    padding-left: 10px;
    transform: translateY(-10px);
    font-size: 13px;
    font-weight: 500;
    color: #3c8ce7;
    transition: 0.2s;
}

.inp-box .inp:focus ~ label,
.inp-box .inp:valid ~ label{
    top: -1px;
    left: 12px;
    background-color: #eee;
    font-weight: 500;
    font-size: 12px;
    padding: 3.5px;
}

.inp-box textarea{
    resize: none;
    height: 100px;
    overflow: auto;
}

textarea{
    padding-top: 10px;
}

.btn-bw{
    position: relative;
    top: 100px;
    background-color: #3c8ce7;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 30px;
    height: 45px;
    font-size: 16px;
    padding: 3px 25px;
    cursor: pointer;
    font-weight: 500;
    font-family: 'Jost', sans-serif;
    transform: translateY(-100px);
    transition: 0.2s;
}

.btn-bw:hover{
    background-color: #312f3a;
    color: #3c8ce7;
}


/* DOC */

.doc-container{
    display: none;
}


/* FOOTER */

footer{
    color: #efefef;
    background-color: #111;

    margin-top: 4rem;
    padding: 3rem;
    padding-right: 160px;
}

footer ul{
    list-style: none;
}

.horizontal{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.horizontal h4{
    font-size: 28px;
}

.img-footer-fd{
    width: 350px;
    margin: 40px;
    margin-top: 0;
}

.img-footer-rd{
    display: none;
    width: 0;
}

.footer-contact{
    margin-top: -20px;
}


/* RESPONSIVE */

@media only screen and (max-width: 1320px){
    header{
        padding: 0 50px;
    }
}

@media only screen and (max-width: 1100px){
    header{
        padding: 0 30px;
    }
}

@media only screen and (max-width: 1020px){

    /* Section Divider */

    .sec-div{
        width: 92vw;
        height: 55px;
        margin-top: 0px !important;
        margin-bottom: 15px;
    }

    .cont{
        justify-content: center;
    }

    .sec-div h2{
        font-size: 25px;
        margin-top: -5px;
    }

    .sec-div .line{
        display: none;
    }

    /* NAVIGATIOON BAR - RESPONSIVE */

    .hamburger{
        display: block;
        cursor: pointer;
    }
    .hamburger div{
        width: 30px;
        height: 30px;
        margin: 1px;
        position: relative;
    }
    .hamburger span{
        width: 30px;
        height: 3px;
        background: #000;
        border-radius: 5px;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.4s;
    }
    .hamburger .line-1{
        transform: translate(-50%, -10px);
    }
    .hamburger .line-3{
        transform: translate(-50%, 8px);
    }
    .hamburger.active .line-1{
        transform: translate(-50%, -50%) rotate(-45deg);
    }
    .hamburger.active .line-2{
        width: 0;
    }
    .hamburger.active .line-3{
        transform: translate(-50%, -50%) rotate(45deg);
    }
   
    .nav-bar{
        margin-top: -1.5rem;
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #fefefe;
        transition: 0.4s;
        overflow: hidden;
    }
    .nav-bar.active{
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: radial-gradient(circle at center, #fff 0%, #ddd 100%);
    }
    .nav-bar ul{
        display: block;
        width: fit-content;
        margin: 35px auto 100px auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
        overflow: hidden;
    }
    .nav-bar.active ul{
        opacity: 1 !important;
    }
    .nav-bar ul li a{
        margin-bottom: 12px;
        margin-left: 0 !important;
    }

    /* LANDING CONTAINER - RESPONSIVE */

    .container{
        display: flex;
        max-width: 93vw;
        width: 100%;
        height: 220px;
        padding: 1.8rem;
        border-radius: 40px;
        margin-top: -0.5rem !important;
        margin-bottom: 30px;
    }

    .container .text{
        display: none;
    }

    .container .title{
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .container .btn-wp{
        display: inline-block;
        padding: 0.6rem 2rem;
        color: #fff !important;
        background-color: #f95590;
        font-size: 16.5px;
        font-weight: 600 !important;
        border-radius: 40px;
        text-transform: capitalize;
        transition: 0.2s;
    }

    .container .btn-wp:hover{
        background-color: #fff;
        color: #f95590 !important;
    }

    .container .left{
        margin-top: -0.5rem;
    }

    .container .icon, .about-img-1, .aboout-img-2{
        display: none;
    }

    /* ABOUT US - RESPONSIVE */

    .selector .sec-div{
        margin-top: 20px !important;
    }

    .selector{
        width: 93vw;
        height: 450px;
        margin: 0 auto;
        margin-bottom: 20px !important;
    
        align-items: center;
        justify-content: center;
    }

    .selector h3{
        font-size: 23px;
        margin-bottom: 5px;
        margin-left: 30px;
    }

    .selector img{
        display: none
    }

    .selector p{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        width: fit-content;
        margin-left: 30px;
        margin-right: 30px;
        padding: 0;
        padding-bottom: 5px !important;
    }

    .top, .bottom{
        display: flex;
        padding: 0;

        box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.3);
    
        margin: 1rem auto;
    
        border-radius: 40px;
    
        height: 210px;
        width: 93vw;
    }

    .top .right, .bottom .left{
        translate: 0;
    }

    /* SERVICES RESPONSIVE */

    .services{
        width: 93vw;
        height: 1280px;
        border-radius: 40px;
        margin-bottom: 30px;
        margin-top: 15px;
    }

    .options{
        flex-direction: column;
    }

    .serv{
        width: 80vw;
        height: 300px;
        margin: 5px;
        padding:  15x 25px;
    }

    /* PRODUCTS - RESPONSIVE */

    .products .sec-div{
        translate: 0 70px !important;
    }

    .products{
        width: 93vw;
        height: 330px;
    
        margin: 0 auto;
        margin-top: 15px;
        margin-bottom: 2rem;
    
        padding: 2rem 1rem;
        border-radius: 40px;
        transition: 0.3s ease-in-out;
    }
    
    .products .btn-wp{
        display: inline-block;
        font-size: 16px;
        padding: 5px 10px;
        margin-bottom: 10px;
    }
    
    .products h1{
        font-size: 1.8rem;
        margin-bottom: 10px;
    }
    
    .plans{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
    }
    
    .plans li, .plans h4, .plans h3{  
        display: none;
    }
    
    .plans h2{
        font-size: 1.2rem;
        color: #312f3a;
    }
    
    .standard, .avanzado, .premium{
        display: flex;

        background: radial-gradient(circle at center, #fff 0%, #efefef 100%);
        border-radius: 20px;
        transition: 0.4s;
    
        width: 80vw;
        height: 50px;
    
        padding: 0.6rem 0;
        margin-bottom: 10px;
    }

    .peek{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

        /* Products - active styles */

    .products.active{
        height: 500px;
    }

    .standard.active, .avanzado.active, .premium.active{
        height: 220px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        flex-direction: column;
        transition: 0.3s ease-in-out;
    }

    .standard.active h3, .avanzado.active h3, .premium.active h3{
        display: flex;
        font-size: 1.2rem;
        color: #3c8ce7;
    }

    .standard.active h4, .avanzado.active h4, .premium.active h4{
        display: flex;
        font-size: 15px;
        color: #312f3a;
        margin-top: -85px;
        padding: 0 45px;
    }

    .standard.active li, .avanzado.active li, .premium.active li{
        color: #000;
        font-size: 12px;
        display: flex;
        line-height: 0.5;
        margin-top: 20px;
    }

    .plans .content{
       align-items: center;
    }

    .products.no li{
        text-decoration: line-through;
        text-decoration-style: double;
    }

    .standard.active .peek, .avanzado.active .peek, .premium.active .peek{
        margin-top: -25px;
     }


     /* CONTACT US - RESPONSIVE */

     .contact-us{
        width: 92vw;
        display: flex;
        border-radius: 40px;
        box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.3);
        margin-bottom: 30px;
     }

     .contact-us h1{
        font-size: 28px;
     }

     .c-content{
        display: none;
     }

     .inp-box{
        width: 75vw;
     }


    /* DOC - RESPONSIVE */

    .doc-container{
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;

        background: radial-gradient(circle at center, #fff 0%, #ddd 100%);
        box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.3);
        border-radius: 40px;

        height: 200px;
        width: 93vw;
        padding: 2rem;
        margin-left: 0.5rem;
     }

     .doc h1{
        font-size: 23px;
        color: #3c8ce7;
        margin-bottom: 8px;
     }

     .doc p{
        font-size: 16px;
        color: #312f3a;
        margin-bottom: 10px;
     }

     .doc .btn-bw{
        color: #fff;
        background-color: #3c8ce7;
        border-radius: 40px;
        transition: 0.2s;

        display: flex;
        align-items: center;
        justify-content: center;

        padding: 3px 25px;
        font-size: 16px;
     }

     .doc .btn-bw:hover{
        color: #3c8ce7;
        background-color: #312f3a;
     }


     /* FOOTER - RESPONSIVE */

    .footer{
        margin-top: 1.8rem;
    }

    .pages-footer, .partners-footer{
        display: none;
     }

    .img-footer-fd{
        display: none;
        width: 0 !important;
     }

    .img-footer-rd{
        width: 100px;
     }
    
}

/* ------------------------------------------------------------------------------------------------------------------- */

/* RECENT WORKS */

.container-works1{
    background-image: linear-gradient(to bottom right, #3c8ce7 10%, #00cfff 80%);;
    color: white;

    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    position: relative;

    max-width: 70rem;
    width: 100%;
    height: 8rem;

    margin: 1rem auto;

    padding: 2rem 5rem;
    border-radius: 90px 90px 300px 90px;
}


/* Page Numbers - 1 */

.numbers{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    width: 200px;
    height: 60px;

    margin: 2rem auto;
}

.one-1, .one-2, .one-3{
    border-radius: 12px;
    border-style: solid;
    border-width: 3px;
    border-color: #000;

    width: 45px;
    height: 45px;

    padding: 10px;
    text-align: center;
}

.one-1 p, .one-2 p, .one-3 p{
    font-size: 23px;
    font-style: bold;
    margin-top: -6.5px;    
}

.one-1, .one-1 p{
    border-color: #3c8ce7;
    color: #3c8ce7;
}



